<header>
    <nav>
        <a href="/">SkatePlan</a>
        <ul>
            <li><a href="/reservierungen">Alle Reservierungen</a></li>
            <li><a href="/reservierungen/new">Neue Reservierung</a></li>
        </ul>
    </nav>
</header>