<label>Name</label>
<input type="text" name="name" value="<%= reservierung.name %>">

<label>E-Mail</label>
<input type="text" name="email" value="<%= reservierung.email %>">

<label>Tel.</label>
<input type="text" name="tel" value="<%= reservierung.tel %>
">
<label>Slot</label>
<input type="number" name="slot" vlaue="<%= reservierung.slot %>" min="1" max="4">
