<h2>Neue Reservierung</h2>
<form action="/reservierungen" method="POST">
    <%- include('_form_fields') %>

    <a href="/reservierungen">Abbrechen</a>
    <button type="submit">Abschicken</button>
</form>